@font-face {
  font-family: "Comfortaa";
  font-weight: 400;
  src: url("../../fonts/Comfortaa/static/Comfortaa-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Work Sans";
  font-weight: 400;
  src: url("../../fonts/Work_Sans/WorkSans-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Istok Web";
  font-weight: 400;
  src: url("../../fonts/Istok_Web/IstokWeb-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Lato";
  font-weight: 700;
  src: url("../../fonts/Lato/Lato-BoldItalic.ttf") format("ttf");
}
